[submodule "Lesson-08-Required-reading-Exercise"]
	path = Lesson-08-Required-reading-Exercise
	url = https://github.com/python-elective-2-spring-2019/Lesson-08-Required-reading-Exercise.git./Lesson-08-Required-reading-Exercise
[submodule "yyyyy"]
	path = yyyyy
	url = https://github.com/python-elective-2-spring-2019/yyyyy.git./yyyyy
